// Global Color
$default: #333;
$white: #fff;

$gray-100: #f5f5f5;
$gray-200: #eee;
$gray-300: #dbdbdb;
$gray-400: #bdbdbd;
$gray-500: #999;
$gray-700: #666;

$primary-50: #FBE9E7;

$bg-color: $gray-100;
$border-color: $gray-200;